<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>API参数设置</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>网络通话</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>服务器录制声音</string>
			<key>Key</key>
			<string>server_record_audio</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>服务器录制视频</string>
			<key>Key</key>
			<string>server_record_video</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>服务器录制白板</string>
			<key>Key</key>
			<string>server_record_rts_data</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>发送画面裁剪</string>
			<key>Titles</key>
			<array>
				<string>16:9</string>
				<string>4:3</string>
				<string>1:1</string>
				<string>不裁剪</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>Key</key>
			<string>videochat_video_crop</string>
			<key>DefaultValue</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>自动旋转对端画面</string>
			<key>Key</key>
			<string>videochat_auto_rotate_remote_video</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>对端画面填充模式</string>
			<key>Titles</key>
			<array>
				<string>缩放填满</string>
				<string>缩放不填满</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>Key</key>
			<string>videochat_remote_video_content_mode</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>画面质量</string>
			<key>Titles</key>
			<array>
				<string>默认</string>
				<string>低</string>
				<string>中</string>
				<string>高</string>
				<string>480P</string>
				<string>540P</string>
				<string>720P</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
			</array>
			<key>Key</key>
			<string>videochat_preferred_video_quality</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>后置摄像头</string>
			<key>Key</key>
			<string>videochat_start_with_back_camera</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>视频编码器</string>
			<key>Titles</key>
			<array>
				<string>默认</string>
				<string>软编码</string>
				<string>硬编码</string>
			</array>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
			</array>
			<key>Key</key>
			<string>videochat_preferred_video_encoder</string>
			<key>DefaultValue</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>视频解码器</string>
			<key>Titles</key>
			<array>
				<string>默认</string>
				<string>软解码</string>
				<string>硬解码</string>
			</array>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
			</array>
			<key>Key</key>
			<string>videochat_preferred_video_decoder</string>
			<key>DefaultValue</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>视频最大编码码率(kbps)</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>Key</key>
			<string>videochat_video_encode_max_kbps</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>本地录制码率(kbps)</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>Key</key>
			<string>videochat_local_record_video_kbps</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>自动结束AudioSession</string>
			<key>Key</key>
			<string>videochat_auto_disable_audiosession</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>语音降噪</string>
			<key>Key</key>
			<string>videochat_audio_denoise</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>人声检测</string>
			<key>Key</key>
			<string>videochat_voice_detect</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>期望高清语音</string>
			<key>Key</key>
			<string>videochat_prefer_hd_audio</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>场景</string>
			<key>Titles</key>
			<array>
				<string>默认</string>
				<string>高清音乐</string>
				<string>自适应高清音乐</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>Key</key>
			<string>avchat_scene</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>测试开关</string>
			<key>Key</key>
			<string>tester_tool_ui</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>前处理</string>
			<key>Key</key>
			<string>local_video_process</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>美颜</string>
			<key>Titles</key>
			<array>
				<string>无</string>
				<string>黑白</string>
				<string>自然</string>
				<string>粉嫩</string>
				<string>怀旧</string>
			</array>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
			</array>
			<key>Key</key>
			<string>video_beautify</string>
			<key>DefaultValue</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
